@import "normalize.css";
@import "variables.css";

 /*CUSTOM STYLES */

/* Apply theme background to body */
body {
  background-color: var(--color-bg-primary);
  margin: 0;
  padding: 0;
}

/* Font Classes */
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px 12px;
  height: 100dvh;
}

/* Tablet Styles */
@media (max-width: 1024px) and (min-width: 769px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
  }
}
